
<p>Enter your User ID and Password to login to your account</p>
<form action="login" method="POST">
  <label>User ID:
    <input type="text" name="user_id"/>
  </label>
  <label>Password:
    <input type="text" name="password"/>
  </label>
  <input type="submit" value="Login" />
</form>
